.item {
  display: flex;

  img {
    align-self: center;
    width: 80px;
    height: 120px;
  }

  .details {
    padding: 1rem;
    width: 180px;

    .quantity {
      display: flex;
      align-items: baseline;

      & > * {
        width: 70px;
        font-size: 1.5rem;
        text-align: center;
      }
    }
  }
}
