div {
  display: flex;
  align-content: baseline;
  justify-content: space-between;
  padding: 2rem;

  .home {
    font-size: 2rem;
    text-align: center;
    margin: 0;
    text-decoration: none;
    color: black;
  }
  .cart {
    height: fit-content;
    width: 60px;
    padding: 4px;
    background-color: gainsboro;
    text-align: center;
    border-radius: 20px;
    background-color: black;

    mat-icon {
      padding-top: 2px;
      color: white;
    }
  }
}
