<form [formGroup]="addressForm" style="display: inline">
  <div>
    <p>Address type</p>
    <input type="radio" name="addressType" formControlName="residential" />
    <label>Residential</label>
    <input type="radio" name="addressType" formControlName="business" />
    <label>Business</label>
  </div>
  <label for="buildingNumber">Building/Complex and number</label>
  <input type="text" formControlName="buildingNumber" />
  <label for="suburb">Suburb</label>
  <input type="text" formControlName="suburb" />
  <label for="city">City</label>
  <input type="text" formControlName="city" />
  <label for="postalCode">Postal Code</label>
  <input type="number" formControlName="postalCode" />
  <button type="submit">save</button>
</form>
